footer{
    background-color:grey;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    padding: 10px;
}

.infoprodut{
    
    font-weight: bold;
}

.fontetable{
    font-family: Arial, Helvetica, sans-serif;
    
    
}


